[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

apistar = "*"
sqlalchemy = "*"
arrow = "*"
pytest = "*"
requests = "*"
schedule = "*"
python-slugify = "*"
pytest-sqlalchemy = "*"


[dev-packages]

pytest-cov = "*"